.App {
  text-align:left;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-file {
  display: none;
}

.custom-file-upload {
  margin-top: 50px;
  cursor: pointer;
}

.container { 
  display:flex; 
  flex-direction: column wrap;
} 

.container .box-cell.directory-box {
  position: absolute; 
  width: 18%;
  background-color: rgb(170, 159, 159);
  padding: 1%;
  height: 100%;
  flex-grow: 0;
} 

.container .box-cell.patient-box {
  position: absolute;
  left: 20%;
  width: 18%;
  background-color: rgb(127, 117, 117);
  height:100%;
  padding: 1%;
}